@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Raleway:400,800,900");
html, body {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column; /* Coloca los elementos uno debajo del otro */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Ocupa el 100% de la altura de la ventana */
}

h1{
    font-family: "Raleway", Helvetica, sans-serif;
    text-transform: uppercase;
    margin: 0 0 0.5em 0;
    padding: 0; /* Opcional: añade espacio alrededor de los elementos */
    font-size: 2em; /* Puedes ajustar el tamaño de fuente según tus necesidades */
}
p{
    font-family: "Raleway", Helvetica, sans-serif;
    margin: 0 0 0 0;
    text-align: center;
}

.flex-img {
    width: 300px;
    height: auto; /* Mantiene la proporción */
}


.contenedor-img {
    position: relative;
    width: 100%; /* Ajusta según sea necesario */
    height: 300px; /* Ajusta según sea necesario */
    background-color: #ffffff; /* Solo para visualizar el contenedor */
}

.imagen-esquina {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 100px; /* Ajusta este valor según sea necesario */
    max-height: 100px; /* Ajusta este valor según sea necesario */
    width: auto;
    height: auto;
}
dialog {
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Estilo básico para el botón */
button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
    -webkit-transition: background-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
    -ms-transition: background-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
    transition: background-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
    background-color: transparent;
    border: 0;
    box-shadow: inset 0 0 0 1px rgba(160, 160, 160, 0.3);
    color: #3c3b3b !important;
    cursor: pointer;
    display: inline-block;
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 0.6em;
    font-weight: 800;
    height: 4.8125em;
    letter-spacing: 0.25em;
    line-height: 4.8125em;
    padding: 0 2.5em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
}
/* Estilo para el efecto hover */
button:hover {
    box-shadow: inset 0 0 0 1px #2ebaae;
    color: #2ebaae ;
}