html, body {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column; /* Coloca los elementos uno debajo del otro */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Ocupa el 100% de la altura de la ventana */
}

h1 h2 {
    margin: 0;
    padding: 0; /* Opcional: añade espacio alrededor de los elementos */
    font-size: 2em; /* Puedes ajustar el tamaño de fuente según tus necesidades */
}

.flex-img {
    width: 300px;
    height: auto; /* Mantiene la proporción */
}


.contenedor-img {
    position: relative;
    width: 100%; /* Ajusta según sea necesario */
    height: 300px; /* Ajusta según sea necesario */
    background-color: #ffffff; /* Solo para visualizar el contenedor */
}

.imagen-esquina {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 100px; /* Ajusta este valor según sea necesario */
    max-height: 100px; /* Ajusta este valor según sea necesario */
    width: auto;
    height: auto;
}